.login {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.2)
    ),
    url("https://res.cloudinary.com/jonty-mern/image/upload/v1668024766/xenon/110671_53e75f9dfa3d61dff2ad36e4832d3406_fm9m68.jpg");
  background-size: cover;
}
.loginButton:disabled{
  cursor:not-allowed;
  background-color: black;
}

.loginTitle {
  font-size: 50px;
}

.loginForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}


.loginInput {
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 10px;
}

.loginInput:focus {
  outline: none;
}

.loginButton {
  margin-top: 20px;
  cursor: pointer;
  font-size: 24px;
font-weight: 900;
  padding: 10px;
  border: none;
  border-radius: 10px;
  text-align: center;
}
.loginlabel{
  color: white;
    margin:auto;
    padding:10px 0px
}
.loginRegisterButton {
  position: absolute;
  top: 60px;
  right: 20px;
  font-size: 24px;
  font-weight: 900;
  cursor: pointer;
  padding: 10px;
  border: none;

  border-radius: 10px;
}
